@media (min-width: 32.5em) {
    body {
        width: 750px;
    }
    img {
        float: right;
        padding-right: 15px;
    }

    header {height: 6rem;}

    header h1 {
        text-align: center;
        font-size: 2.5rem;
        padding: 2.25rem;
        border-radius: 3px;
    }
}
